dnspython==2.4.2
ffmpeg-python==0.2.0
hachoir==3.2.0
Pillow==10.0.1
psutil==5.9.6
pymongo==4.5.0
Pyrogram==2.0.106
pyromod==1.5
python-dotenv==1.0.0
requests==2.31.0
TgCrypto==1.2.5

certifi==2023.7.22
urllib3==2.0.7
idna==3.4
charset-normalizer==3.3.2

aiofiles==23.2.1
aiohttp==3.8.6
motor==3.3.2
tenacity==8.2.3
